.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20bba1;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #148471;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border-color: black;
}

.lButton:disabled {
  background-color: #148471;
  cursor: not-allowed;
}
