.navbar {
  height: 60px;
  background-color: #148471;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1280px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log {
  background-image: url("/src/components/image/loginimg.webp");
  background-size: cover;
  background-position: center;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lTitle {
  font-size: 30px;
  font-weight: bold;
}

.lName {
  color: blue;
  cursor: pointer;
}

.lInput {
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #148471;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border-color: black;
}

.lButton:disabled {
  background-color: #148471;
  cursor: not-allowed;
}
