.addTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

td label {
  display: block;
  margin-bottom: 8px;
  margin-left: 10px;
  font-weight: bold;
}

td input,
td select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: calc(100% - 10px);
}

.addDescriptionRoom,
.addDescription {
  width: 100%;
  padding: 8px;
  margin-bottom: 7px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: calc(100% - 10px);
  resize: none;
}

.aT {
  display: flex;
  flex-direction: column;
}

.labelTitle {
  font-size: 40px;
  font-weight: bold;
  color: #148271;
}

.lRooms {
  font-size: 25px;
  font-weight: bold;
  color: #148271;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTitleRoom:disabled,
.addPriceRoom:disabled,
.addMaxPeople:disabled,
.addDescriptionRoom:disabled,
.addRoomNumbers:disabled {
  cursor: not-allowed;
  background-color: #efefef;
}

.addButton {
  width: 100%;
  padding: 10px;
  height: 45px;
  border: none;
  background-color: #148271;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.addButton:disabled {
  background-color: #148471;
  cursor: not-allowed;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #148271;
}

html.uploading,
html.uploading * {
  cursor: not-allowed !important;
}
